<?xml version="1.0" encoding="UTF-8"?>
<config>
<modules>
<Wigman_AjaxSwatches>
<version>0.1.0</version>
</Wigman_AjaxSwatches>
</modules>
<frontend>
	<routers>
		<ajaxswatches>
			<use>standard</use>
			<args>
				<module>Wigman_AjaxSwatches</module>
				<frontName>ajaxswatches</frontName>
			</args>
		</ajaxswatches>
	</routers>
    <layout>
        <updates>
            <OneStepCheckout module="Wigman_AjaxSwatches">
                <file>wigman_ajaxswatches.xml</file>
            </OneStepCheckout>
        </updates>
    </layout>
</frontend>
</config>